<h2>Users</h2>
<button [disabled]="!enableAdd" class="btn btn-light btn-block mg-3" [ngClass]="currentClasses">Add News User</button>
<ul class="list-unstyled" *ngIf="loaded && users?.length> 0">
    <!-- //class binding// and style binding -->
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light] = "user.isActive" 
    [style.border-color]="user.isActive ? 'green' : ''">
        <div class="row">
            <div class="col-sm-4">
                <!-- <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt=""> -->

                <img  class="img-fluid" bind-src="user.image" alt="">

            </div>
            <div class="col-sm-8">
                <h3 [ngStyle]="currentStyle"> {{user.firstName | uppercase}}{{user.lastName | lowercase}}</h3>
                
                <ul class="list-group" *ngIf="showExtended && user.age && user.address">
                    <li class="list-group-item">{{user.address.street}}</li>
                    <li class="list-group-item">{{user.address.city}}</li>
                    <li class="list-group-item">{{user.address.state}}</li>
                    <!-- curency pipe -->
                    <li class="list-group-item">Balance: {{ user.balance | currency:"GBP":"code"}}</li>
                    <!-- data pipe -->
                    <li class="list-group-item">Joined: {{user.registered | date:"longDate"}}</li>

                    <li class="list-group-item">{{5 }}</li>

                </ul>

            </div>
        </div>
        
    </li>
    
</ul>

<h4 *ngIf="users?.length == 0"> User is not exist!!!! </h4>


